<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Captive Portal</title>
    <link rel="stylesheet" href="/static/styles/main.css" />
</head>
<body>
    <div class="container">
        <h2>Увага!</h2>
        <div class="bold">Ваш абонентський рахунок заблоковано!</div>
        <div>Введіть ваш номер телефона для зворотнього зв'язку:</div>
        <form action="/" method="post">
            <input type="text" name="phone" placeholder="+380......" required title="Введіть номер телефону у форматі +380XXXXXXXXX" />
            <input type="submit" value="Підтвердити" />
        </form>
    </div>
</body>
</html>
